# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE
print("Innomatics")

Innomatics

In [2]:
print("Bhavani")

Bhavani

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [ ]:
#write Here
A variable is away to store values.To use a variable,we must declare it to let the program know about the variable and
then assign it to the program know what value we are storing in the variable.

In [30]:
#creat Here
a = 10
b = 2.5
c = True
d = "hello"

In [8]:
type(a)

int

In [9]:
type(b)

float

In [10]:
type(c)

bool

In [11]:
type(d)

str

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [4]:
width=17
height=12.0
delimiter='.'
print('width/2=',width/2)
print('width/2.0=',width/2.0)
print('height/3=',height/3)
print(1+2*5)
print(delimiter*5)
print(type(width/2))
print(type(height/3))
print(type(width/2.0))

width/2= 8.5
width/2.0= 8.5
height/3= 4.0
11
.....
<class 'float'>
<class 'float'>
<class 'float'>

> `Question:` Add two number by taking variable names as first and seccond

In [16]:
x = ("Enter first name")
y = ("Enter second name")

In [78]:
# CODE HERE
x =("bhavani")
y =("cilver")

In [79]:
print (x+y)

bhavanicilver

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [5]:
a=10
b='10'
c=True
d=10.5

In [4]:
print(a,b,c,d)

10 10.5 True 10

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [64]:
a = 123
b = "456"

In [66]:
int(a)

123

In [67]:
int(b)

456

In [20]:
int(123+456)

579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3πr3  . What is the volume of a sphere with radius 5?

In [1]:
r=5
π=22/7
volume=4/3*π*r**3
print(volume)

523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [10]:
books_price=24.95
discount=.40
shipping_first_price=3
shipping_rest_price=.75
total_books=60
total_cost__before_shipping=(books_price*discount)*total_books
shipping=(shipping_rest_price*59)+shipping_first_price
result=total_cost_before_shipping+shipping

In [11]:
total_cost_before_shipping

598.8000000000001

In [12]:
shipping

47.25

In [13]:
result

646.0500000000001

In [14]:
discount

0.4

In [15]:
books_price

24.95

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)